/* 
    CSS Rules or Syntax
    selector {
        property: value;
    }
*/

/* universal selector */
* {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

body {
    background-color: skyblue;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: white;
}

div {
    float: right;
}

/* type selector */
/* tag-name */
h1 {
    color: yellow;
    text-align: center;
    font-size: 2rem;
}

section {
    height: 100vh;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

/* id selector */
/* #id-name */
#zuitt-motto {
    letter-spacing: 5px;
}

h3 {
    letter-spacing: 25px;
}

/* adjacent sibling selector */
/* selector1 + selector2 */
h3 + img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

ol {
    list-style-type: none;
    padding: 0;
}

/* class selector */
/* .class-name */
.offering-item {
    text-transform: uppercase;
}

/* decendant selector */
/* selector1 selector2 */
#bootcamp-learning-list li {
    color: #075966;
}

/* general sibling selector */
/* selector1 ~ selector2 */
h3 ~ a, a {
    text-decoration: none;
}

.modules {
    letter-spacing: 3px;
}